
*{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(55, 60, 75);
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    position: fixed;
    z-index: 8;
}
.page{
    display: flex;
    flex-direction: column;
    position: relative;
}
#home{
    height: 100vh;
}
.intro-title {
   top: 15vh;
   font-size: 3vw;
   position: absolute;
   color: rgb(226, 226, 226);
   text-transform: uppercase;
   animation-fill-mode: forwards;
   animation: head 6s;
   left: 5vh;
}

@keyframes head{
    0%{
        left: -50vw;
        top: 15vh;
    }
    100%{
        left: 5vh;
    }
}
.intro-title h3{
    position: absolute;
    padding-left:4vw ;
    color: rgb(212, 119, 119);
    animation-fill-mode: forwards;
    animation-name: headh3;
    animation: headh3 6s;
    animation-delay: 1s;

}

@keyframes headh3{
    0%{
        left: -50vw;
    }
    100%{
        left: 0vw;
    }
}
.menu{
    background: rgba(55, 60, 75, 0.678);
}
.column{
    display:flex;
    text-transform: uppercase;
    font-size: 30px;
}

.column a{
    background-color: transparent;
    color: rgb(226, 226, 226);
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0 30px;
}
.hr{
    height: 5px;
    width: 75%;
    margin: 10px auto 0 auto;
    background: rgb(212, 119, 119);
}
#intro-about{
    position: relative;
    top: 49vh;
    left: 60vw;
    width: 30vw;
    height: 1vh;
    animation-fill-mode: forwards;
    animation-name:about;
    animation: about 6s;
}
@keyframes about{
    0%{
        position: absolute;
        left: 120vw;
        top: 49vh;
    }
    100%{
        position:absolute;
        left: 60vw;
        top: 49vh;
        border: 0px;
        margin: 0px;
    }
}
#intro-about h1{
    text-transform: uppercase;
    text-align: center;
    color: rgb(226, 226, 226);
}
#intro-about p{
    color: rgb(212, 119, 119);
    font-size: 1vw;
}

#contact{
    font-size: 8vh;
    color: rgb(226, 226, 226);
}
#contact h1{
    align-self: center;
    margin-bottom: 50px;
}
.Red{
    width: 100%;
    font-size:28px;
    color:rgb(212, 119, 119) ;
}

#contact-box{
    width: 33%;
    max-width: 600px;
    align-self: center;
    margin-bottom: 200px;
}
form{
    display: flex;
    flex-direction: column;
}
.name-email{
    display: flex;
    justify-content: space-between;
}
.name-email .Red{
    width: 45%;
}
.txtinput{
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
    background-color: white;
    padding-top: 10px;
    border: none;
    z-index: 5;
}
#subject h3{
    text-align: center;
}
#input4{
    height: 20vh;
}

#btn{
    width: 50%;
    margin: auto;
    height: 5vh;
    background-color: rgb(212, 119, 119);
    color: rgb(226, 226, 226);
    font-size: 28px;
}


.space{
    height: 40vh;
}
.social-icon{
    width: 50px;
}
#links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    top: 80vh;
    z-index: 5;
    animation-fill-mode: forwards;
    animation-name: link;
    animation: link 5s;

}
@keyframes link{
    0%
    {
        right: -200px;
    }
    100%{
        right: 0;
    }
}

.Title{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 17vw;
    
    width: 30vw;
    font-size: 2vh;
    color: rgb(212, 119, 119);
    
}
.Title h2{
    position: relative;
    left: -5vw;
}
#projects{
    color:rgb(226, 226, 226);

}
#projects h1{
    font-size: 15vh;
    margin-left: 5%;
    margin-bottom: 50px;
}
.projects-container{
    width: 90%;
    display: flex;
    align-self: center;
}
.project-single{
    width: 30%;
    margin-right: 3%;
}
.project-single img{
    width: 100%;
}

#lineup button:active{
    background-color:rgba(194, 108, 108, 0.651) ;
}
#menu{
    position: relative;
    left: 40vw;
}
@media (max-width: 768px) {
  .projects-container{
      flex-direction: column;
  }
  .project-single{
    width: 100%;
    margin: 0;
}
}